<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <!-- general metadata -->
    <title>{{ site.title }} - {{ page.title }}</title>
    <meta name="keywords" content="{{ page.keywords|default(site.keywords) }}">
    <meta name="description" content="{{ page.description|default(site.description) }}">
    <link rel="shortcut icon" href="{{ site.url }}/design/images/ico/apple_114x114.png">
    <link rel="image_src" href="{{ site.url }}/design/images/ico/apple_114x114.png">


    {% if site.nofollow %}
    <meta name="robots" content="noindex,nofollow">
    {% endif %}

    <!-- Open Graph metadata -->
    <meta property="og:image" content="{{ site.url }}/design/images/ico/apple_114x114.png"/>
    <meta property="og:url" content="http://luke.gg"/>
    <meta property="og:title" content="{{ page.title|default(site.title) }}"/>
    <meta property="og:description" content="{{ page.description|default(site.description) }}"/>

    <!-- Twitter metadata -->
    <meta name="twitter:card" content="">
    <meta name="twitter:site" content="{{ site.title|lower }} ">
    <meta name="twitter:title" content="{{ site.title }} – {{ site.byline }}">
    <meta name="twitter:description" content="{{ page.keywords|default(site.description) }}">
    <meta name="twitter:creator" content="{{ site.title }}">
    <meta name="twitter:image:src" content="{{ site.url }}/design/images/ico/apple_114x114.png">
    <meta name="twitter:domain" content="http://luke.gg">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="application-name" content="{{ site.app_name }}">

    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <link rel="shortcut icon" href="{{ site.url }}/design/images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ site.url }}/design/images/ico/apple_114x114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ site.url }}/design/images/ico/apple_72x72.png">
    <link rel="apple-touch-icon-precomposed" href="{{ site.url }}/design/images/ico/apple_57x57.png">
    <link href="/design/css/global.css?v={{ site.release_version }}" media="all" rel="stylesheet" type="text/css"/>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <link rel="canonical" href="http://luke.gg" />

    <!-- build:js /design/scripts/modernizr.js -->
    <script src="/design/vendor/bower/modernizr/modernizr.js"></script>
    <!-- endbuild -->

    <!--[if lt IE 9]>
        <!-- build:js /design/scripts/iesupport.js -->

    <script src="/design/vendor/bower/respond/src/respond.js"></script>
    <script src="/design/vendor/bower/media-match/media.match.js"></script>
    <script src="/design/vendor/bower/respond/src/matchmedia.addListener.js"></script>
    <script src="/design/vendor/bower/html5shiv/dist/html5shiv.js"></script>

    <!-- endbuild -->
    <![endif]-->

    <script src="//use.typekit.net/qiw1pfm.js"></script>
    <script>try {
            Typekit.load();
        } catch (e) {
        }</script>

</head>
<body class="body-url-{{ page.url|trim('/')|default('home')|replace({ '/': '-' }) }}">

<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', '{{ site.ga_id }}', 'auto');
    ga('send', 'pageview');
</script>

<!--[if lte IE 8]>
<p class="outdated-browser">Your browser is <em>insecure!</em> Please upgrade your browser for the complete experience
    of this site.
    <a href="http://browsehappy.com/">Upgrade.</a>
</p>
<![endif]-->

<div class="site-wrapper">

    <div class="page-wrapper">
        {% block content_wrapper %}

        <div class="page-contents">
            {% block content %}

            {% endblock %}
        </div>
        {% endblock %}
    </div>

    <footer class="site-footer js-site-footer text-center full-width-constrain" id="letstalk">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h2>Contact</h2>

                    <p class="site-footer__contact">
                        <a href="mailto:luke@giuliani.com.au" class="site-footer__link">luke@giuliani.com.au</a>
                        <a href="//twitter.com/lukegiuliani" target="_blank" class="site-footer__link  site-footer__link--social"><i class="ss-social ss-twitter"></i></a>
                        <a href="//au.linkedin.com/in/lukegiuliani/" target="_blank" class="site-footer__link site-footer__link--social"><i class="ss-social ss-linkedin"></i></a>
                    </p>
                </div>
            </div>
        </div>
    </footer>
</div>

<div class="site-loading">
    <div class="site-loading-spinner">
    </div>
</div>

<div id="fb-root"></div>

<!-- build:js /design/scripts/site-compiled.js -->
<script src="/design/vendor/bower/jquery/dist/jquery.js"></script>
<script src="/design/vendor/bower/bootstrap/js/affix.js"></script>
<script src="/design/vendor/bower/jquery-smartresize/jquery.debouncedresize.js"></script>
<script src="/design/vendor/ss-social-regular/ss-social.js"></script>
<script src="/design/vendor/bower/imagesloaded/imagesloaded.pkgd.js"></script>
<script src="/design/scripts/app.js"></script>
<script src="/design/scripts/toys.js"></script>
<script src="/design/scripts/navigation.js"></script>
<script src="/design/scripts/blog.js"></script>
<script src="/design/scripts/transforms.js"></script>
<!-- endbuild -->

</body>
</html>
