---
layout: default
title: Culture
---

<section class="standfirst standfirst--culture overlay" style="background-image:url('/design/images/culture/culture.jpg');">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6">
                <div class="standfirst__content vertical-rhythm">
                    <h1 class="standfirst__title heading__underline">Culture</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="culture ">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-offset-2 col-sm-8 vertical-rhythm text-center culture__introduction">
                <h2>How can something so valuable to the success of any team be so hard to define?</h2>
                <p>Some folks say that culture ‘eats strategy for breakfast’. That’s a little insulting to the efficacy of good strategy.

                    Others tell us the only science behind culture has something to do with yoghurt. There may be no exact formula for culture, but at Squareweave, we know that our culture is our people.
                </p>
            </div>
        </div>
    </div>
</section>


<section class="staff">

    <div class="row no-gutter">
        {# edit me in sculpin_site.yml #}
        {% for teamMember in site.team %}
            <article class="col-xs-6 col-sm-4 col-md-3 staff-member">
                <a target="_blank" href="{{ teamMember.url|default('#') }}" class="staff-member__link">
                    <figure class="staff-member__avatar">
                        <img src="/design/images/people/{{ teamMember.image }}" alt="{{ teamMember.name }}">
                        <figcaption class="staff-member__name">{{ teamMember.name }}
                            <span class="staff-member__role">{{ teamMember.role }}</span>
                        </figcaption>
                    </figure>
                </a>
            </article>
        {% endfor %}
        {% if site.jobs is not null and site.jobs is not empty %}
        <a class="staff-work-with" href="#workwithus">
            <div class="staff-work-with__align transform-center">
                <h2>Work with us!</h2>
                <p class="staff-work-with__subtitle">Find out more</p>
            </div>
        </a>
        {% endif %}
    </div>

</section>
{% if site.alumni is not null and site.alumni is not empty %}
<section class="culture alumni">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-offset-2 col-sm-8 vertical-rhythm">
                <h1 class="heading__underline heading__underline--red text-center">Alumni</h1>

                <h2 class="alumni__introduction text-center">Many extraordinary individuals have helped make Squareweave what it is today. When our talent discover new challenges to conquer, we love to see them succeed. You’re as likely to catch an old flame consulting with us on a project, as sipping on a coffee in our cafe courtyard.</h2>
            </div>
            <div class="col-xs-12 col-sm-offset-3 col-sm-6">
                {# edit me in sculpin_site.yml #}
                <ul class="alumni__list list-unstyled">
                    {# edit me in sculpin_site.yml #}
                    {% for alumniMember in site.alumni %}
                        <li class="alumni__item">
                            <figure class="alumni__figure">
                                <img src="/design/images/people/alumni/{{ alumniMember.image }}" alt="{{ alumniMember.name }}" class="alumni__image img-responsive"/>
                            </figure>
                            <h4 class="alumni__name">{{ alumniMember.name }}</h4>
                            <p class="alumni__description">
                                {{ alumniMember.description|raw }} </p>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>
{% endif %}
<p>
    <img src="/design/images/culture/culture__footer.jpg" alt="Sitting, devices, team being a team" class="img-responsive"/>
</p>

{% if site.jobs is not null and site.jobs is not empty %}
<section class="culture text-center" id="workwithus">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-offset-3 col-sm-6">
                <h1 class="heading__underline heading__underline--red">Work with us!</h1>
                <ul class="work-with-us__list list-unstyled text-left">
                    {# edit me in sculpin_site.yml #}
                    {% for jobItem in site.jobs %}
                        <li class="work-with-us__list-item">
                            <h2 class="work-with-us__name">{{ jobItem.name }} <span class="work-with-us__tag">{{ jobItem.tag }}</span></h2>
                            <p class="work-with-us__description">{{ jobItem.description }}</p>
                        </li>
                    {% endfor %}
                </ul>
                <p class="text-center"><a class="btn btn--transparent--black btn-lg" href="mailto:hello@squareweave.com.au">Email your resume</a></p>
            </div>
        </div>
    </div>
</section>
{% endif %}