---
layout: default
title: Luke giuliani
---

{% include 'standfirst' with {'classes':'standfirst--background-repeat','image':'work/stardust.png', 'title':'Luke Giuliani', 'subtitle':"Social entrepreneur, strategist and technologist. Making the world better with business and technology."} %}

<section class="work">
    <div class="row no-gutter">
        {% for workItem in site.work %}
        <div class="col-xs-12 col-sm-6 col-md-4">
            <a class="work-item overlay overlay__000000--30 flipInX wow" href="{{ workItem.url|default('#') }}" target="_blank">
                <figure class="work-item__figure">
                    <img src="/design/images/work/project/{{ workItem.backgroundImage }}" alt="{{ workItem.name }}" class="img-responsive work-item__image"/>
                </figure>
                <span class="work-item__logo transform-center">
                    <img src="/design/images/work/logo/{{ workItem.image }}" alt="{{ workItem.name }}" width="{{ workItem.imageWidth }}" height="{{ workItem.imageHeight }}" />
                </span>
            </a>
        </div>
        {% endfor %}
    </div>
</section>

