---
layout: default
title: Work
---

{% include 'standfirst' with {'classes':'standfirst--background-repeat','image':'work/stardust.png', 'title':'Our Work', 'subtitle':"We want our values to shine through our work. Engaging with our clients and understanding their digital needs is the most important step towards achieving this.
We will not only provide you with the best digital solution for your business, we will become your partner in achieving measurable success and the best social outcome for your business and the community.
"} %}

<section class="work">
	<div class="row no-gutter">
		{% for workItem in site.work %}
		<div class="col-xs-12 col-sm-6 ">
			<a class="work-item overlay overlay__000000--30 flipInX wow" href="{{ workItem.url|default('#') }}" target="_blank">
				<figure class="work-item__figure">
					<img src="/design/images/work/project/{{ workItem.backgroundImage }}" alt="{{ workItem.name }}" class="img-responsive work-item__image"/>
				</figure>
				<span class="work-item__logo transform-center">
					<img src="/design/images/work/logo/{{ workItem.image }}" alt="{{ workItem.name }}" width="{{ workItem.imageWidth }}" height="{{ workItem.imageHeight }}" />
				</span>
			</a>
		</div>
		{% endfor %}
	</div>
</section>

